<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @restaurante.cnpj %>
</p>

<p>
  <strong>Nome oficial:</strong>
  <%= @restaurante.nome_oficial %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @restaurante.nome_fantasia %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurante.phone %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @restaurante.horario %>
</p>

<p>
  <strong>Tipo comida:</strong>
  <%= @restaurante.tipo_comida %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @restaurante.endereco %>
</p>

<%= link_to 'Edit', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Back', restaurantes_path %>
