<%= form_with(model: cartao, local: true) do |form| %>
  <% if cartao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cartao.errors.count, "error") %> prohibited this cartao from being saved:</h2>

      <ul>
        <% cartao.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :nome_titular %>
    <%= form.text_field :nome_titular %>
  </div>

  <div class="field">
    <%= form.label :validade %>
    <%= form.text_field :validade %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
