<p id="notice"><%= notice %></p>

<h1>Cartaos</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nome titular</th>
      <th>Validade</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartaos.each do |cartao| %>
      <tr>
        <td><%= cartao.numero %></td>
        <td><%= cartao.nome_titular %></td>
        <td><%= cartao.validade %></td>
        <td><%= cartao.cliente_id %></td>
        <td><%= link_to 'Show', cartao %></td>
        <td><%= link_to 'Edit', edit_cartao_path(cartao) %></td>
        <td><%= link_to 'Destroy', cartao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartao', new_cartao_path %>
