<p id="notice"><%= notice %></p>

<h1>Pratos do restaurante <%= @restaurante.nome_fantasia %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Preco</th>
      <th>Disponibilidade</th>
      <th>Tempo estimado</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pratos.each do |prato| %>
      <tr>
        <td><%= prato.descricao %></td>
        <td><%= number_to_currency(prato.preco) %></td>
        <td><%= prato.disponibilidade ? 'Sim' : 'Não' %></td>
        <td><%= prato.tempo_estimado %></td>

        <td><%= link_to 'Pedir', new_pedido_path(restaurante_id: @restaurante.id, prato_id: prato.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo prato', new_restaurante_prato_path %>
